<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Default entry length</string>
			<key>Key</key>
			<string>entry_duration_preference</string>
			<key>Values</key>
			<array>
				<integer>5</integer>
				<integer>10</integer>
				<integer>15</integer>
				<integer>20</integer>
				<integer>30</integer>
				<integer>45</integer>
				<integer>60</integer>
				<integer>90</integer>
				<integer>120</integer>
				<integer>180</integer>
				<integer>240</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>5 minutes</string>
				<string>10 minutes</string>
				<string>15 minutes</string>
				<string>20 minutes</string>
				<string>30 minutes</string>
				<string>45 minutes</string>
				<string>60 minutes</string>
				<string>90 minutes</string>
				<string>2 hours</string>
				<string>3 hours</string>
				<string>4 hours</string>
			</array>
			<key>DefaultValue</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Paper size</string>
			<key>Key</key>
			<string>paper_size_preference</string>
			<key>DefaultValue</key>
			<array>
				<integer>595</integer>
				<integer>842</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>A4</string>
				<string>Letter</string>
			</array>
			<key>Values</key>
			<array>
				<array>
					<integer>595</integer>
					<integer>842</integer>
				</array>
				<array>
					<integer>612</integer>
					<integer>792</integer>
				</array>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>APP INFO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Name</string>
			<key>Key</key>
			<string>name_preference</string>
			<key>DefaultValue</key>
			<string>Chronos</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Identifier</string>
			<key>Key</key>
			<string>identifier_preference</string>
			<key>DefaultValue</key>
			<string>media.valo.chronos</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>version_preference</string>
			<key>DefaultValue</key>
			<string>0.0.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Build</string>
			<key>Key</key>
			<string>build_preference</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
